* {
  margin: 0%;
  padding: 0%;
  text-decoration: none;
  box-sizing: border-box;
}
.hero {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(20deg, rgb(112, 117, 190), #000000);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
select {
  border: none;
  outline: none;
  font-size: 1rem;

  padding: 10px 10px;
  border-radius: 15px;
}
.hero > h1 {
  font-size: 5rem;
  font-weight: 500;
  margin-top: -50px;
  color: #fff;
  margin-bottom: 50px;
}

textarea {
  padding: 20px 10px 0 10px;
  /* width: 600px; */
  /* height: 250px; */
  background: #403d84;
  color: #fff;
  font-size: 15px;
  border: none;
  outline: none;
  border-radius: 15px;
  resize: none;
  margin-bottom: 30px;
}
textarea::placeholder {
  font-size: 1.5rem;
  color: #fff;
}
.g_1 {
  display: flex;
  gap: 20px;
}

button {
  background: #ff2963;
  color: #fff;
  font-size: 1.5rem;
  padding: 10px 30px;
  border-radius: 20px;
  border: none;
  outline: none;
  cursor: pointer;
}
button:hover {
  color: #fff;
  background-color: rgb(83, 0, 0);
}
